<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PETSHOP DH</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/header.css">
    <link rel="stylesheet" href="stylesheets/cadastro.css">


    
</head>

<body>
    <%- include('./partials/header') %>
    
    <main>
        

        <section class="containerCadastro">
            <h2>Cadastrar Servico</h2> 
                <form action="/cadastrar" method="post">
                    <label for="servico">Serviço</label>
                    <input type="text" id="servico" name="nome" placeholder="Digite o serviço que deseja cadastrar">
                    
                    <label for="precoServico">Preço do serviço</label>
                    <input type="number" name="preco" id="preco" placeholder="Digite o preço do serviço">

                    <button type="submit">Cadastrar</button>


                </form>
            </article>
        </section>
    </main>
    <%- include('./partials/footer') %>
    
</body>

</html>